@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);
$gradient-card: linear-gradient(
  to bottom,
  hsl(215, 20%, 17%),
  hsl(215, 24%, 12%)
);

$font-primary: 'Overpass', sans-serif;

$font-regular: 400;
$font-bold: 700;

$text-14: 0.875rem;
$text-15: 0.9375rem;
$text-16: 1rem;
$text-24: 1.5rem;
$text-28: 1.75rem;

$line-height-22: 1.375rem;
$line-height-24: 1.5rem;
$line-height-32: 2rem;
$line-height-42: 2.625rem;
$line-height-51: 3.1875rem;

$letter-spacing-s: 0.2px;
$letter-spacing-m: 1.87px;
$letter-spacing-l: 2px;

$space-10: 0.625rem;
$space-11: 0.6875rem;
$space-13: 0.8125rem;
$space-14: 0.875rem;
$space-15: 0.9375rem;
$space-16: 1rem;
$space-24: 1.5rem;
$space-30: 1.875rem;
$space-32: 2rem;
$space-40: 2.5rem;

$breakpoint-tablet: 768px;
